[Unit]
Description=Keycloak container

[Container]
Image=quay.io/keycloak/keycloak:latest
AutoUpdate=registry
Network=internal-net
Volume=keycloak-data:/opt/keycloak/data
Volume=/etc/letsencrypt:/etc/letsencrypt:ro
Volume=/etc/oh-expose/clients/keycloak:/etc/oh-expose/clients/keycloak:ro
EnvironmentFile=%d/keycloak.env
Command=start --optimized

[Install]
WantedBy=multi-user.target
