[Unit]
Description=pgAdmin management UI

[Container]
Image=dpage/pgadmin4:latest
AutoUpdate=registry
Network=internal-net
Volume=pgadmin-data:/var/lib/pgadmin
Volume=/etc/letsencrypt:/etc/letsencrypt:ro
Volume=/etc/oh-expose/clients/pg-admin:/etc/oh-expose/clients/pg-admin:ro
Volume=%d/pgadmin-servers.json:/pgadmin4/servers.json:ro
EnvironmentFile=%d/pgadmin.env

[Install]
WantedBy=multi-user.target
