[Unit]
Description=PostgreSQL database

[Container]
Image=postgres:16
AutoUpdate=registry
Network=internal-net
Volume=pgdata:/var/lib/postgresql/data:Z
EnvironmentFile=%d/postgres.env

[Install]
WantedBy=multi-user.target
